
.border-silver{
  border-color: silver;
}

.border-circle{
  border-width: thick !important;
  border-style: solid;
  border-color: #20c997 !important;
  border-radius: 1000% !important;
}

.no-animal-image{
  width: 22rem !important;
  height: 16.875rem !important;
}

.animal-icon{
  display: flex;
  align-items: center;
  line-height: 1.5;
  justify-content: center;
  font-size: 12rem;
}

.animal-card{
  background-color: #666600 !important;
  border-color: #c0c0c0;
  border-style: outset !important;
  border-width: medium;
  color: greenyellow !important;
  font-family: Consolas;
}

