@media screen and (max-width: 400px){
  .container-customized{
    margin-top: 9rem !important;
    width: 80% !important;
    font-size: 1rem;
  }


}


@media screen and (max-width: 475px){
  footer{
    height: 150px !important;
  }


}
