
body {
  background-color: darkolivegreen !important;
}

.app-title {
  margin-top: 230px !important;
  color: #ffffff;
  font-family: 'Nothing You Could Do', cursive;

}

.header1-size {
  font-size: 70px !important;
}

.container-customized {
  color: #cccccc;
  width: 55% !important;
  margin: 0 auto;
}

